<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724688145111-l2de0o9avcn7kka3jme03r4giv1pjt46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724688145111-l2de0o9avcn7kka3jme03r4giv1pjt46</string>
	<key>API_KEY</key>
	<string>AIzaSyCke1JLNyjkFQk8qozjHTYW6wy9PD58ltA</string>
	<key>GCM_SENDER_ID</key>
	<string>724688145111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.curtainapp</string>
	<key>PROJECT_ID</key>
	<string>curtainapp-5caed</string>
	<key>STORAGE_BUCKET</key>
	<string>curtainapp-5caed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724688145111:ios:f889459567ff0c9b053e92</string>
	<key>DATABASE_URL</key>
	<string>https://curtainapp-5caed-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>